---
layout: default
---

<div>
  {% for post in site.posts %}
    <article> 

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <div style="display: grid; width: 100%; grid-template-columns: 25% 1fr; grid-gap: 1%">
<div>
	    {% if post.thumbnail != null %}
	       <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
                <img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title }}" style="max-width:100%;height:auto;display:block"/>
               </a>
        {% endif %}
	</div>
        <div>
          {{ post.excerpt }}
        </div>
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
