<style>
    /* Default: Light theme → make box darker */
    .contrast-box {
        background-color: hsla(0, 0%, 94%, 0.918);
        margin-bottom: 1.5em;
        padding: 0.5em;
    }

    /* Dark theme → make box lighter */
    @media (prefers-color-scheme: dark) {

        .contrast-box {
            background-color: hsla(0, 0%, 89%, 0.055);
        }
    }
</style>

<div class="contrast-box" markdown="0">
    <h1><a href="https://www.packtpub.com/en-us/product/cmake-best-practices-9781835880647">
            CMake Best Practices - The book</a></h1>

    <div style="display: grid; width: 100%; grid-template-columns: 25% 1fr; grid-gap: 1%; padding-bottom: 0.5em;">
        <div>

            <a href="https://www.packtpub.com/en-us/product/cmake-best-practices-9781835880647">
                <img src="{{ site.baseurl }}/images/cmake-best-practices-2nd-edition.jpg"
                    alt="Cover of the CMake Best Practices book 2nd Edition by Dominik Berner and Mustafa Kemal Gilor"
                    style="max-width:100%;height:auto;display:block" />

            </a>

        </div>
        <div>
            CMake Best Practices: Discover proven techniques for creating and maintaining programming projects with
            CMake. Learn how to use CMake to maximum efficiency with this compendium of best practices for a lot of
            common tasks when building C++ software.
            <br />
            <br />
            <div class="order-button">
                <a href="https://www.packtpub.com/en-us/product/cmake-best-practices-9781835880647">Get it from
                    Packt</a>
            </div>

        </div>
    </div>
</div>