<div style="background-color: #444444;">
    <h1><a
            href="https://lesen.amazon.de/kp/embed?asin=B09QKYQ6SZ&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_X4GD3ZCB4P5NFBX69JD5">
            CMake Best Practices - The book</a></h1>

    <div style="display: grid; width: 100%; grid-template-columns: 25% 1fr; grid-gap: 1%; padding-bottom: 2.5em;">
        <div>

            <a
                href="https://lesen.amazon.de/kp/embed?asin=B09QKYQ6SZ&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_X4GD3ZCB4P5NFBX69JD5">
                <img src="{{ site.baseurl }}/images/cmake-best-practices.jpg"
                    alt="Cover of the CMake Best Practices book by Dominik Berner and Mustafa Kemal Gilor"
                    style="max-width:100%;height:auto;display:block" />

            </a>

        </div>
        <div>
            CMake Best Practices: Discover proven techniques for creating and maintaining programming projects with
            CMake. Learn how to use CMake to maximum efficiency with this compendium of best practices for a lot of
            common tasks when building C++ software.
            <br />
            <br />
            <div class="order-button">
                <a
                    href="https://lesen.amazon.de/kp/embed?asin=B09QKYQ6SZ&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_X4GD3ZCB4P5NFBX69JD5">Get
                    it from Amazon</a>
            </div>

        </div>
    </div>
</div>