blockquote {
  display: block;

  margin: 0px 50px 0px 50px;
  padding: 30px 30px 30px 50px;
  position: relative;
  font-size: 125%;
  line-height: 1.2;

  text-align: center;
  border-left: 3px solid #ffcc00;
  border-right: 3px solid #ffcc00;
}
blockquote::before {
  content: “201C”; /*Unicode for Left Double Quote*/
  font-size: 110%;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 5px;
}
blockquote::after {
  content: “”;
}
blockquote a {
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px;
  color: #ffcc00;
}
blockquote a:hover {
  color: #666;
}
blockquote em {
  font-style: italic;
}
