figcaption {
    display: block;

    padding: 0.1em 0.2em 1.5em 0;
    position: relative;
    font-size: 95%;
    line-height: 1.2;
    font-style: italic;

    text-align: left;
}


figcaption::before {
    content: “201C”; /*Unicode for Left Double Quote*/
    font-size: 110%;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 5px;
}

figcaption::after {
    content: “”;
}


figcaption .source-annotation {
    font-size: 85%;
}
figure img {
    /* (A) OPTIONAL DIMENSIONS */
    //width: 600px;
    //height: auto;

    /* (B) ANIMATE ZOOM */
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
}