.thumbnail{
    float:left;
    display:block;
    padding:5px;
    max-width: 50%;

}

.entry img{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.entry img[src*="#floating"]{
    float:left;
    max-width: 40%;
    padding:5px;
}

.entry img[src*="#smallFloating"]{
    float:left;
    max-width: 40%;
    padding:5px;
    max-height: 100px;
}